_ReSharper.cefclient2010
*.suo
*.user
/Release/lib
/Release/obj
/Debug/lib
/Debug/obj
/*.sdf
/*.opensdf
/*.log
/ipch
/cefclient/cefclient.aps
/Release/*.pdb
/Release/*.log
/Release/cefclient.exe
/Debug/*.ilk
/Debug/*.pdb
/Debug/*.log
/Debug/cefclient.exe
